.menu {
  position: absolute;
  top: 30px;
  left: 40px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  left: 50px;

  background-color: transparent;

  padding: 10px;

  border: 1px solid #ccc;
  border-radius: 10px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.menu-items a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 8px 0;
}
