@import url('https://fonts.googleapis.com/css2?family=Allura&family=Baskervville:ital@0;1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

.Dekujeme,
.Made {
  text-align: center;
  font-size: 20px;
  margin-left: auto;
  /* Vycentrování na střed */
  margin-right: auto;
  /* Vycentrování na střed */
  max-width: 700px;
  /* Maximální šířka textu */
  margin-top: 20px;
  /* Vzdálenost mezi texty */
}

/* Responsivita pro mobilní zařízení a tablety */
@media screen and (max-width: 768px) {

  .Dekujeme,
  .Made {
    margin-left: 20px;
    /* Méně okrajů na malých obrazovkách */
    margin-right: 20px;
    /* Méně okrajů na malých obrazovkách */
    font-size: 18px;
    /* Úprava velikosti písma pro mobilní zařízení */
  }
}

/* Pro velmi malé obrazovky */
@media screen and (max-width: 300px) {

  .Dekujeme,
  .Made {
    font-size: 16px;
    /* Ještě menší písmo pro extra malé obrazovky */
  }
}

/* Responsivita pro desktop */
@media screen and (min-width: 1024px) {

  .Dekujeme,
  .Made {
    margin-left: auto;
    /* Vycentrování na střed */
    margin-right: auto;
    /* Vycentrování na střed */
    font-size: 20px;
    /* Udržení stejné velikosti písma na desktopu */
  }
}

/* Pro lepší vizuální střed na všech velikostech */
@media screen and (min-width: 1024px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.NadpisFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}
