@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');



.opening {
  position: relative;
}

.fotka {
  width: 90%;
  height: auto;
  background-attachment: fixed;
  background-size: cover;

  margin-top: 60px;




}

.termin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

}

.uvodniJmeno img {
  width: 40%;
  margin-left: 85px;
  margin-top: 20px;
}

.uvodniPrijmeni img {
  width: 50%;
  margin-left: 150px;
}



.lineUvod img {
  position: absolute;


}

.termin img {
  width: 70%;

  margin-top: 20px;
  max-width: 500px;

}

.sipka {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 40px;

}



@media screen and (min-width: 969px) {
  .termin img {
    width: 70%;

    max-width: 500px;

  }
}
